---
title: Participants
description: "Une conférence à visages humains"
permalink: /participants/
---

<header class="page-header">
  <div class="wrapper">
    <div class="content">
      <h1 class="title">Participant·es</h1>
      <p class="sstitle">Elles ne le savent pas encore mais ces personnes disposent toutes d'un super-pouvoir&nbsp;!</p>
    </div>
  </div>
</header>

<main>
	<article class="white-section">

		<div class="wrapper text-center">
      {% assign attendees = site.data.attendees | sort: "name" | uniq: "name" %}
      {% assign conferences = site.talks | sort: "speaker" %}
      {% assign members = site.data.thym_members | sort: "name" %}

      {% assign total_attendees = attendees | size %}
      {% assign total_speakers = conferences | size | plus: 2 %}
      {% assign total_members = members | size %}

  		{% assign default-avatar = "/assets/images/default-avatar.png" %}
  		{% assign super-woman = "/assets/images/super-woman.png" %}

			<h2 class="great-title-size red uppercase">{{ total_attendees | plus: total_speakers | plus: total_members }} super-héros</h2>
		</div>


		<div class="grid-4 text-center">

      <!-- Speakers -->
      {% for conference in conferences %}
        {% for names in conference.speaker %}
          {% assign speaker = site.data.speakers[names] %}
          <section class="attendee">
            <figure class="attendee-avatar">
              <img src="{{ site.baseurl}}/assets/images/orateurs/{% if speaker.slug %}{{ speaker.slug }}{% else %}{{ speaker.name | slugify }}{% endif %}.jpg" alt="{{ speaker.name }}">
            </figure>
            <h3 class="attendee-name">{{ speaker.name }}</h3>
            {% if speaker.twitter %}
            <a href="https://twitter.com/{{ speaker.twitter }}">@{{ speaker.twitter }}</a>
            {% endif %}
          </section>
        {% endfor %}
      {% endfor %}

    {% for attendee in attendees %}
  		<section class="attendee {% if attendee.ticket_type == '667251' %} golden-ticket{% endif %}">
  			<figure class="attendee-avatar">
  				{% if attendee.twitter %}
  				<img src="https://twitter.com/{{ attendee.twitter }}/profile_image?size=bigger" alt="Super Avatar">
  				{% elsif attendee.title == 'Mme' %}
  				<img src="https://secure.gravatar.com/avatar/{{ attendee.email }}?d={{ super-woman | absolute_url | cgi_escape }}" alt="Superwoman">
  				{% else %}
  				<img src="https://secure.gravatar.com/avatar/{{ attendee.email }}?d={{ default-avatar | absolute_url | cgi_escape }}" alt="Superman">
  				{% endif %}
  			</figure>
  			{% assign name = attendee.name | | split:" " %}
  			<h3 class="attendee-name">{{ name[0] | capitalize }} {{ name[1] | capitalize }} {{ name[2] | capitalize }}</h3>
  			{% if attendee.twitter %}
  			<a href="https://twitter.com/{{ attendee.twitter }}">@{{ attendee.twitter }}</a>
  			{% endif %}
  		</section>
    {% endfor %}

    {% for member in members %}
     <section class="attendee">
       <figure class="attendee-avatar"><img src="https://twitter.com/{{ member.twitter }}/profile_image?size=bigger" alt="">
       </figure>
       <h3 class="attendee-name">{{ member.name }}</h3>
       <a href="https://twitter.com/{{ member.twitter }}">@{{ member.twitter }}</a>
     </section>
     {% endfor %}

	  </div>
	</article>

	<div class="hug-banner">
	<!-- nothing here! -->
	</div>

</main>
