<div class="cta-zone-1 section-margin">
	<div class="wrapper">
		<div class="text-center">
			<section>
        <h2 class="regular-title-size">L’appel à orateurs ne concerne que les conférences de 5 minutes</h2>
        <p> Nous effectuons nous-même la curation des conférences de 20 minutes afin de construire une journée unique, cohérente et pleine de surprises. </p>
        <p> Les conférences courtes peuvent être tout aussi enrichissantes et donnent du rythme à la journée. Nous comptons sur vous pour étonner les participants. </p>
        <p>Vous avez jusqu'au 5 février, minuit.</p>
			</section>
		</div>
		<div class="text-center">
			<a class="cta button-type1" href="https://docs.google.com/forms/d/1ciKJyvHSYDA_qK3nGBuJLMoP5UeqOpMQk5NJ631Uvko/viewform" data-event-category="cta" data-event-action="click" data-event-label="voir-videos">Proposez un sujet</a>
		</div>
		<div class="text-center">
      <a href="{{ site.newsletter.url }}">Inscrivez-vous à notre lettre d’information</a> pour être prévenu de la publication du programme, courant février.
    </div>
	</div>
</div>
