<div class="section-margin">
	<div class="wrapper">
		<div class="text-center">
			<section>
        <h2 class="regular-title-size">L’appel à orateurs ne concerne que les conférences de 5 minutes</h2>
        <p> Nous effectuons nous-même la curation des conférences de 20 minutes afin de construire une journée unique, cohérente et pleine de surprises. </p>
        <p> Les conférences courtes peuvent être tout aussi enrichissantes et donnent du rythme à la journée. Nous comptons sur vous pour étonner les participants. </p>
        <p>Vous avez jusqu'au 5 février, minuit.</p>
			</section>
		</div>
  </div>
</div>

<div class="yellow-section">
	<div class="wrapper">

    <form class="form" method="post" id="mailto-form" action="https://docs.google.com/forms/d/1412jD1crc2DZK1MhmtEyQYpavK9gAl-ayj8l25Fcm5A/formResponse" enctype="multipart/form-data">
      <div class="form-field">
        <label for="speaker-name">Votre prénom et nom</label>
        <input type="text" name="entry.174408459" id="speaker-name" required>
      </div>
      <div class="form-field">
        <label for="speaker-email">Votre adresse email</label>
        <input type="email" name="entry.1910784286" id="speaker-email" required>
      </div>
      <div class="form-field">
        <label for="talk-title">Titre de la conférence</label>
        <input type="text" name="entry.1999901711" id="talk-title" required>
      </div>
      <div class="form-field">
        <label for="talk-description">Que devrait en retenir le public ?</label>
        <div class="">
          <textarea name="entry.859987257" id="talk-description" cols="30" rows="10" required></textarea>
          <small class="help">Ce texte ne sera pas rendu public : c'est pour nous aider à comprendre ce que vous cherchez à partager.</small>
        </div>
      </div>
      <div class="form-field">
        <label for="talk-questions">Des remarques ? Des questions ? Des besoins particuliers ?</label>
        <div class="">
          <textarea name="entry.1030661705" id="talk-questions" cols="30" rows="10"></textarea>
          <small class="help">Ça aussi ça ne sera pas rendu public.</small>
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="cta button-type2">Envoyer ma proposition</button>
      </div>
    </form>

  </div>
</div>

<div class="section-margin">
	<div class="wrapper text-center">
    <h2 class="regular-title-size">Défraiement</h2>

    <p>Tout orateur de <em>Lightning Talk</em> se verra défrayé le ticket de conférence et la soirée&nbsp;communautaire.</p>
    <p>Restent à votre charge l'hébergement et le transport.</p>
    <p>Si on peut faire mieux, on le fera.</p>

	</div>
</div>
