<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ "/assets/js/vendor/jquery-2.2.0.min.js" | relative_url }}"><\/script>')</script>
<script src="{{ "/assets/js/main.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/vendor/svgxuse.min.js" | relative_url }}" defer></script>
<!-- webchat -->
<script src="https://cdn.smooch.io/smooch.min.js"></script>
<script>Smooch.init({appToken: 'abikeyje48vr0wd9zjx0jljym'});</script>
