/* ==========================================================================
   Forms initialisation
   ========================================================================== */


input, textarea, select {
	display: inline-block; margin-top: 1em; padding: .5em; box-sizing: border-box;
	background: $white; box-shadow: 0 .15em 0 darken($white, 30%); outline: 0;
	border-radius: $button-default-radius; border: 0;
	&:focus {
		transform: translateY(.15em);
		box-shadow: 0 0 0 darken($white, 30%);
	}
}

.form-label {
  font-size: $defaut-font-size;
  margin-bottom: 0;
  @media (min-width: $media-break-point) {
    margin-top: 1em;
  }
}

.form-field {
  display: flex;
  flex-direction: column;

  textarea {
    width: 100%;
  }
}

.help {
  display: block;
  color: $lightgrey;
  font-size: 20px; font-style: italic; font-weight: bold;
  margin-top: 0;
}

.radiogroup {
  display: flex; padding: 0;
  flex-direction: column;
  @media (min-width: $media-break-point) {
    flex-direction: row;
  }
  li{
    position: relative;
    display: block; width: 100%; height: 100px;
    float: left;
    input[type=radio]{
      position: absolute;
      visibility: hidden;
    }
    &:hover {
      label{
        color: $lightgrey;
      }
      .check {
        border-color: $lightgrey;
      }
    }
  }

  label{
    position: relative; z-index: 9;
    display: block; height: 30px; margin: 10px auto; padding: .5em 25px .5em 80px;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
  }
  .check{
    display: block; width: 25px; height: 25px;
    position: absolute; z-index: 5;
    border: 3px solid $white; border-radius: 100%;
    top: 30px; left: 20px;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
    &::before {
      position: absolute;
      display: block; height: 15px; width: 15px; margin: auto;
    	content: '';
      border-radius: 100%;
      top: 5px; left: 5px;
    	transition: background 0.25s linear;
    	-webkit-transition: background 0.25s linear;
    }
  }
  input[type=radio]:checked {
    & ~ .check {
      border-color: $white;
    }

    & ~ .check::before{
      background: $white;
    }
  }


}
